.react-simple-keyboard {
  --gray-1: rgb(130, 130, 130);
  --gray-2: rgb(116, 116, 116);
  --gray-3: rgb(105, 105, 105);
  background-color: var(--gray-2);
}

.react-simple-keyboard .hg-button {
  color: white;
  background-color: var(--gray-1);
  height: 5vh;
  font-size: 1.5rem;
}

.react-simple-keyboard .hg-button.bigger-keys {
  flex: 3;
}

.react-simple-keyboard .hg-button.medium-keys {
  flex: 2;
}

.react-simple-keyboard .hg-button.smaller-keys,
.react-simple-keyboard.hg-layout-numpad .hg-button {
  flex: 1;
}

@media (hover: hover) {
  .react-simple-keyboard:hover {
    cursor: default;
  }

  .react-simple-keyboard .hg-button:hover {
    cursor: pointer;
    background-color: var(--gray-2);
  }

  .react-simple-keyboard .hg-button.drag:hover {
    cursor: grab;
  }

  .react-simple-keyboard .hg-button.drag:active {
    cursor: grabbing;
  }
}

.react-simple-keyboard .hg-button:focus,
.react-simple-keyboard .hg-button:active {
  background-color: var(--gray-3);
}
