.react-simple-keyboard {
  background-color: rgb(118, 116, 116);
}

.react-simple-keyboard:hover {
  cursor: default;
}

.react-simple-keyboard .hg-button {
  color: white;
  background-color: rgb(130, 130, 130);
  height: 5vh;
  font-size: 1.5rem;
}

.react-simple-keyboard .hg-button:hover {
  cursor: pointer;
}

.react-simple-keyboard .hg-button.bigger-keys {
  flex: 3;
}

.react-simple-keyboard .hg-button.drag:hover {
  cursor: grab;
}

.react-simple-keyboard .hg-button.drag:active {
  cursor: grabbing;
}

.react-simple-keyboard.hg-layout-numpad .hg-button {
  flex: 1;
}
