html {
  --trackBG: #959595;
  --thumbBG: rgba(0 0 0 / 0.5);
}

::-webkit-scrollbar {
  height: 0.75em;
  width: 0.75em;
  -webkit-appearance: none;
}
::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 8px;
  border: 2px solid;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  background-color: var(--trackBG);
}

body {
  margin: 0;
  padding: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* overflow: hidden;
  touch-action: none; */
}

/* .mapboxgl-control-container {
  display: none;
} */

.hidden {
  visibility: hidden;
}

.mapboxgl-ctrl-bottom-left {
  z-index: 101;
}

.map-container {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.react-resizable-handle {
  /* filter: invert(100%) brightness(1000%); */
  filter: invert(54%) sepia(74%) saturate(3013%) hue-rotate(178deg)
    brightness(750%) contrast(101%);
}

.react-grid-item.react-grid-placeholder {
  background-color: transparent !important;
}
